#home-hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

#home-hero h1 {
  margin-bottom: 40px;
}

#home-hero h1,
#home-hero p {
  color: #fefcf7;
}

#home-hero p {
  color: rgba(254, 252, 247, 0.8);
}

#home-hero picture {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 100%;
}

#home-hero img {
  border-radius: 10px;
  max-width: 100%;
}

#home-hero button {
  margin-top: 40px;
}

#home-hero .caption {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 50%;
  padding-left: 84px;
  max-width: calc(495px + 84px);
}

#our-collection {
  padding: 200px 0 183px 0;
}

#our-collection h2 {
  text-align: center;
  background-image: linear-gradient(180deg, #e1e0de 0%, #f7f6f1 100%);
  background-size: 100%;
  background-repeat: repeat;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-text-fill-color: transparent;
  text-transform: lowercase;
  font-size: 150px;
  line-height: 150px;
  grid-column: 1/-1;
  transform: translateY(90px);
  margin-top: -90px;
  z-index: -1;
}

#our-collection .coffeewrap {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 30px;
  display: grid;
  max-width: 1122px;
  margin: 0 auto;
}

#our-collection .coffee {
  text-align: center;
}

#our-collection .coffee img {
  max-width: 255px;
}

#our-collection .coffee h3 {
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

#why-choose-us {
  text-align: center;
  color: #fefcf7;
}

#why-choose-us h2 {
  color: #fefcf7;
  line-height: 48px;
  margin-bottom: 30px;
}

#why-choose-us p {
  max-width: 540px;
  margin: 0 auto;
}

#why-choose-us #choose-boxes {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  text-align: center;
  max-width: 1110px;
  margin: 85px auto 0;
  margin-top: -228px;
  margin-bottom: 200px;
}

#why-choose-us #choose-boxes .box {
  background: #0e8784;
  color: #fefcf7;
  padding: 80px 48px 50px 48px;
  border-radius: 10px;
}

#why-choose-us #choose-boxes .box img {
  margin-bottom: 74px;
}

#why-choose-us #choose-boxes .box h3 {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

#why-choose-us .choose-bg {
  background: #2c343e;
  border-radius: 10px;
  padding: 100px 0 300px 0;
}

#how-it-works,
#line-with-dots {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 100px;
  max-width: 1045px;
  width: 100%;
  margin: 0 auto;
}

#how-it-works {
  margin-bottom: 200px;
}

#how-it-works h4 {
  grid-column: 1/-1;
  color: #83888f;
}

#how-it-works .step-num {
  color: #fdd6ba;
  font-size: 72px;
  line-height: 72px;
  font-family: "Fraunces", serif;
  margin-bottom: 50px;
  display: block;
}

#how-it-works .button-row {
  grid-column: 1/-1;
}

#how-it-works .how-box h3 {
  padding-right: 30px;
  margin-bottom: 40px;
}

#how-it-works #line-with-dots {
  grid-column: 1/-1;
  position: relative;
}

#how-it-works #line-with-dots::before {
  position: absolute;
  display: block;
  height: 1px;
  width: 73%;
  background: #fdd6ba;
  content: "";
  top: 15px;
}

#how-it-works #line-with-dots .dot {
  height: 31px;
  width: 31px;
  border: 1px solid #0e8784;
  background: #fefcf7;
  border-radius: 50%;
  z-index: 100;
}

@media only screen and (max-width: 1029px) {
  #home-hero h1 {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 48px;
  }
  #home-hero p {
    font-size: 15px;
    line-height: 25px;
  }
  #home-hero .caption {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #our-collection h2 {
    font-size: 96px;
    line-height: 96px;
  }
  #our-collection .coffeewrap {
    grid-template-columns: 1fr;
  }
  #our-collection .choose-bg {
    padding: 66px 0 294px 0;
    min-height: 573px;
  }
  #why-choose-us #choose-boxes {
    margin-top: -280px;
    margin-bottom: 200px;
    max-width: 573px;
    margin-left: 60px;
    margin-right: 60px;
    grid-template-columns: 1fr;
  }
  #why-choose-us #choose-boxes .box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 55px;
    padding: 45px 70px 40px 70px;
    place-items: center;
  }
  #why-choose-us #choose-boxes .box img {
    margin-bottom: 0;
  }
  #why-choose-us #choose-boxes .box .content-box {
    text-align: left;
  }
  #how-it-works,
  #line-with-dots {
    grid-gap: 21px;
  }
}

@media only screen and (max-width: 705px) {
  #how-it-works {
    grid-template-columns: 1fr;
  }
  #line-with-dots {
    display: none;
  }
  .choose-bg {
    padding: 66px 25px 294px 25px;
    min-height: 900px;
  }
  #choose-boxes {
    margin-top: -587px;
  }
  #choose-boxes .box {
    grid-template-columns: 1fr;
    padding: 66px 35px 48px 35px;
  }
  #choose-boxes .box .content-box {
    text-align: center;
  }
  #our-collection h2 {
    font-size: 40px;
    line-height: 72px;
    background-image: linear-gradient(180deg, #a6a9ac 0%, #d7d8d6 100%);
    transform: unset;
  }
  #home-hero h1 {
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  #home-hero p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  #home-hero .caption {
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 22px;
  }
}

#how-it-works.plan {
  background: #333d4b;
  max-width: none;
  padding: 100px 150px 100px 85px;
}

#how-it-works.plan h3 {
  color: #fff;
}

#how-it-works.plan p {
  color: #fefcf7;
}

#how-it-works.plan #line-with-dots .dot {
  background: transparent;
}

#how-it-works.plan #line-with-dots::before {
  left: 15px;
}

.sub-menu ul {
  list-style-type: none;
  font-family: "Fraunces", serif;
  position: sticky;
  top: 80px;
}

.sub-menu li {
  padding: 30px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
  font-weight: 800;
  font-size: 24px;
  color: rgba(51, 61, 75, 0.4);
  cursor: pointer;
}

.sub-menu li.active {
  color: #333d4b;
}

.sub-menu li:first-child {
  padding-top: 0;
}

.sub-menu li:last-child {
  border-bottom: none;
}

.sub-menu .num {
  font-weight: 400;
  color: rgba(131, 136, 143, 0.4);
}

.sub-menu li.active .num {
  color: #0e8784;
}

.subscription {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 255px auto;
  grid-gap: 125px;
}

.accordion {
  width: 100%;
  text-align: left;
  padding: 0 0 21px 0;
  border-radius: 0;
  font-size: 40px;
  background: transparent;
  color: #83888f;
  display: flex;
  align-items: center;
}

.accordion:hover {
  background: transparent;
  color: #83888f;
}

.accordion::after {
  content: url("../assets/plan/desktop/icon-arrow.svg");
  display: block;
  width: 18px;
  height: 12px;
  margin-left: auto;
}

.accordion.active::after {
  transform: rotate(180deg);
}

.accordion.disabled {
  cursor: not-allowed;
}

.panel {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 23px;
  display: none;
  overflow: hidden;
}

.panel.active {
  display: grid;
}

.option {
  background: #f4f1eb;
  padding: 37px 28px 90px 28px;
  border-radius: 8px;
  cursor: pointer;
}

.option.selected {
  background: #0e8784;
}

.option.selected h4,
.option.selected p {
  color: #fefcf7;
}

.option h4 {
  margin-bottom: 30px;
}

.accordian-wrap {
  margin-bottom: 100px;
}

#order-summary {
  background: #333d4b;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 50px 64px;
  font-size: 24px;
  color: #fff;
  font-family: "Fraunces", serif;
  line-height: 40px;
}

#order-summary h4 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#order-summary span.blue {
  color: #0e8784;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: #fefcf7;
  color: #333d4b;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
  color: #333d4b;
}

h1 {
  font-size: 72px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  background: #0e8784;
  color: #fefcf7;
  border: none;
  font-size: 18px;
  font-family: "Fraunces", serif;
  padding: 21px 80px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #66d2cf;
}

button:disabled {
  background: #e2dedb;
  cursor: disabled;
}

header nav ul,
footer nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

header nav a,
footer nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #83888f;
  margin-right: 35px;
}

header nav a:hover,
footer nav a:hover {
  color: #fff;
}

header.activated {
  height: 100vh;
  position: fixed;
  background: linear-gradient(#fefcf7, #fefcf7 50%, transparent);
  left: 0;
}

header .menu-toggle {
  background: transparent;
  padding: 10px;
  display: none;
}

header .menu-toggle::before {
  content: url("../assets/shared/mobile/icon-hamburger.svg");
}

header .menu-toggle.activated::before {
  content: url("../assets/shared/mobile/icon-close.svg");
}

header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  align-items: center;
}

header nav li {
  padding-left: 30px;
}

header nav a:hover {
  color: #333d4b;
}

footer {
  background: #333d4b;
  padding: 45px 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 88px;
}

footer .logo {
  margin-right: 100px;
}

footer nav a:hover {
  color: #fff;
}

footer .social {
  margin-left: auto;
}

footer .social svg {
  margin-left: 23px;
}

footer .social-img:hover path {
  cursor: pointer;
  fill: #fdd6ba;
}

#plan-hero,
#about-hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 168px;
}

#plan-hero h1,
#about-hero h1 {
  margin-bottom: 40px;
}

#plan-hero h1,
#plan-hero p,
#about-hero h1,
#about-hero p {
  color: #fefcf7;
}

#plan-hero p,
#about-hero p {
  color: rgba(254, 252, 247, 0.8);
}

#plan-hero picture,
#about-hero picture {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 100%;
}

#plan-hero img,
#about-hero img {
  border-radius: 10px;
  max-width: 100%;
}

#plan-hero .caption,
#about-hero .caption {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 50%;
  padding-left: 84px;
  max-width: calc(495px + 84px);
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1029px) {
  button {
    padding: 21px 30px;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-row-gap: 33px;
  }
  footer .logo {
    margin-right: 0;
  }
  footer nav a {
    margin: 0 32px;
  }
  footer .social {
    margin-left: unset;
    margin-top: 33px;
  }
}

@media only screen and (max-width: 705px) {
  .container {
    padding: 0 23px;
  }
  header .menu-toggle {
    display: block;
  }
  header nav {
    display: none;
  }
  header nav.activated {
    display: block;
    margin-top: 88px;
  }
  header nav li {
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
  }
  header nav a {
    font-family: "Fraunces", serif;
    color: #333d4b;
    font-size: 24px;
    line-height: 32px;
    text-transform: none;
  }
}
