#how-it-works.plan {
  background: #2c343e;
  max-width: none;
  padding: 100px 150px 100px 85px;
  border-radius: $border-radius;

  h3 {
    color: #fff;
  }

  p {
    color: $light-cream-bg;
  }

  #line-with-dots {
    .dot {
      background: transparent;
    }

    &::before {
      left: 15px;
    }
  }
}

.sub-menu {
  ul {
    list-style-type: none;
    font-family: $font-heading;
    position: sticky;
    top: 80px;
  }

  li {
    padding: 30px 0;
    font-weight: 800;
    font-size: 24px;
    border-bottom: 1px solid adjust-color($grey, $alpha: -0.75);
    color: adjust-color($dark-grey-blue, $alpha: -0.6);
    cursor: pointer;

    a,
    a:visited {
      color: adjust-color($dark-grey-blue, $alpha: -0.6);
    }

    &.active,
    &:hover,
    &.active a,
    &:hover a {
      color: $dark-grey-blue;

      .num {
        color: $dark-cyan;
      }
    }
  }

  a:first-child li {
    padding-top: 0;
  }

  a:last-child li {
    border-bottom: none;
  }

  .num {
    font-weight: 400;
    color: adjust-color($grey, $alpha: -0.6);
  }

  li.active .num,
  li.active a .num,
  li.active a:visited .num {
    color: $dark-cyan;
  }

  a {
    text-decoration: none;
  }

  .disabledsub {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.2;
  }
}

.subscription {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 255px auto;
  grid-gap: 125px;
}

.accordion {
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: 21px;
  border-radius: 0;
  font-size: 40px;
  background: transparent;
  color: $grey;
  display: flex;
  align-items: center;
  pointer-events: all;

  &:hover {
    background: transparent;
    color: $grey;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='19' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.949.586l2.828 2.828-9.096 9.096L.586 3.414 3.414.586l6.267 6.267z' fill='%2366D2CF' fill-rule='nonzero'/%3E%3C/svg%3E");
    }
  }

  &::after {
    // content: url("../assets/plan/desktop/icon-arrow.svg");
    content: url("data:image/svg+xml,%3Csvg width='19' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.949.586l2.828 2.828-9.096 9.096L.586 3.414 3.414.586l6.267 6.267z' fill='%230E8784' fill-rule='nonzero'/%3E%3C/svg%3E");
    // background: url("../assets/plan/desktop/icon-arrow.svg");
    display: flex;
    width: 18px;
    height: 12px;
    margin-left: auto;
  }

  &.active::after {
    transform: rotate(180deg);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: all;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='19' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.949.586l2.828 2.828-9.096 9.096L.586 3.414 3.414.586l6.267 6.267z' fill='%230E8784' fill-rule='nonzero'/%3E%3C/svg%3E");
    }
  }
}

.panel {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 23px;
  display: none;
  overflow: hidden;
  scroll-margin-top: 100px;

  &.active {
    display: grid;
  }
}

.option {
  background: #f4f1eb;
  padding: 37px 28px 90px 28px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background: $pale-orange;
  }

  &.selected {
    background: $dark-cyan;

    h4,
    p {
      color: $light-cream-bg;
    }
  }

  h4 {
    margin-bottom: 30px;
  }
}

.accordian-wrap {
  margin-bottom: 100px;
}

#order-summary {
  background: #2C343E;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 50px 64px;
  font-size: 24px;
  color: #fff;
  font-family: $font-heading;
  line-height: 40px;

  h4 {
    color: adjust-color(#fff, $alpha: -0.5);
    font-family: $font-paragraph;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  span.blue {
    color: $dark-cyan;
  }
}

.checkout-modal-outer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.3s;
}

.open {
  opacity: 1;
  pointer-events: all;
}

.checkout-modal-inner {
  background: $light-cream-bg;
  border-radius: 8px;
  overflow: hidden;
  max-width: 540px;

  h2 {
    background: $dark-grey-blue;
    color: #fff;
    padding: 56px 56px 50px 56px;
  }

  p {
    color: adjust-color($dark-grey-blue, $alpha: -0.2);
  }

  .checkout-padding {
    padding: 56px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .price {
    font-size: 32px;
    line-height: 36px;
    font-family: $font-heading;
    color: $dark-grey-blue;
  }

  .order {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 40px;
    font-family: $font-heading;
    color: $grey;
  }

  .blue {
    color: $dark-cyan;
  }
}

.sub-order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  button {
    margin-left: auto;
    scroll-margin-top: 30px;
  }
}

@media only screen and (max-width: 1029px) {
  .container.tablet-full-width {
    max-width: none;
    padding: 0;
  }

  #how-it-works.plan {
    padding: 95px 40px;
  }

  .subscription {
    grid-template-columns: 1fr;

    .sub-menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 705px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .panel {
    grid-template-columns: 1fr;
  }

  .option {
    padding: 30px 25px;

    h4 {
      margin-bottom: 14px;
    }
  }

  #how-it-works.plan {
    text-align: center;
    grid-row-gap: 65px;

    .how-box h3 {
      padding-right: 0;
    }
  }

  .accordion {
    font-size: 24px;
    line-height: 28px;
  }

  .accordian-wrap {
    margin-bottom: 95px;
  }

  #order-summary {
    padding: 35px 24px;
  }

  .checkout-modal-outer {
    place-items: center;

    h2 {
      font-size: 28px;
      line-height: 32px;
      padding: 28px 24px 28px 24px;
    }
  }

  .checkout-modal-inner {
    max-width: 90%;

    .order {
      margin-bottom: 14px;
    }
  }

  .sub-order button {
    margin: 0 auto;
  }
}