@import "config";
@import "home";
@import "about";
@import "plan";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-paragraph;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: $light-cream-bg;
  color: $dark-grey-blue;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $dark-grey-blue;
}

h1 {
  font-size: 72px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  background: $dark-cyan;
  color: $light-cream-bg;
  border: none;
  font-size: 18px;
  font-family: "Fraunces", serif;
  // padding: 21px 80px;
  padding: 15px 35px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background: #66d2cf;
  }

  &:disabled {
    background: #e2dedb;
    cursor: disabled;
  }
}

header,
footer {
  nav {
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: 12px;
      color: $grey;
      margin-right: 35px;

      &:hover {
        color: #fff;
      }
    }
  }
}

header {
  .logo {
    max-height: 27px;
  }

  &.activated {
    height: 100vh;
    position: fixed;
    background: linear-gradient(#fefcf7, #fefcf7 50%, transparent);
    // padding: 0 23px;
    left: 0;
  }

  .menu-toggle {
    background: transparent;
    padding: 10px;
    display: none;

    &::before {
      content: url("../assets/shared/mobile/icon-hamburger.svg");
    }

    &.activated::before {
      content: url("../assets/shared/mobile/icon-close.svg");
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 43px;
    flex-wrap: wrap;
    align-items: center;
  }

  nav {
    li {
      padding-left: 30px;
    }

    a:hover {
      color: $dark-grey-blue;
    }
  }
}

footer {
  background: $dark-grey-blue;
  padding: 45px 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 88px;
  margin-top: 56px;

  .logo {
    margin-right: 100px;
  }

  nav {
    a:hover {
      color: #fff;
    }
  }

  .social {
    margin-left: auto;

    svg {
      margin-left: 23px;
    }

    &-img:hover path {
      cursor: pointer;
      fill: $pale-orange;
    }
  }
}

#plan-hero,
#about-hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 168px;

  h1 {
    margin-bottom: 40px;
  }

  h1,
  p {
    color: $light-cream-bg;
  }

  p {
    color: rgba(254, 252, 247, 0.8);
  }

  picture {
    grid-column: 1/-1;
    grid-row: 1/-1;
    max-width: 100%;
  }

  img {
    border-radius: 10px;
    max-width: 100%;
  }

  .caption {
    grid-column: 1/-1;
    grid-row: 1/-1;
    max-width: 50%;
    padding-left: 84px;
    max-width: calc(495px + 84px);
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1029px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  // button {
  //   padding: 21px 30px;
  // }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-row-gap: 33px;

    .logo {
      margin-right: 0;
    }

    nav a {
      margin: 0 32px;
    }

    .social {
      margin-left: unset;
      margin-top: 33px;
    }
  }

  #plan-hero,
  #about-hero {
    h1 {
      margin-bottom: 25px;
    }

    .caption {
      padding-left: 84px;
      max-width: calc(398px + 84px);
      font-size: 15px;
      line-height: 25px;
    }
  }
}

@media only screen and (max-width: 705px) {
  body {
    font-size: 15px;
    line-height: 25px;
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  .container {
    padding: 0 23px;
  }

  header {
    .menu-toggle {
      display: block;
    }

    nav {
      display: none;

      &.activated {
        display: block;
        margin-top: 88px;
      }

      li {
        width: 100%;
        text-align: center;
        margin-bottom: 45px;
      }

      a {
        font-family: $font-heading;
        color: $dark-grey-blue;
        font-size: 24px;
        line-height: 32px;
        text-transform: none;
      }
    }
  }

  footer {
    nav {
      ul {
        justify-content: center;
      }
    }

    .social {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      svg {
        margin-left: 0;
      }
    }
  }

  #plan-hero,
  #about-hero {
    margin-bottom: 121px;

    .caption {
      padding-left: 23px;
      padding-right: 23px;
      max-width: unset;
      text-align: center;
    }

    p {
      font-size: 15px;
      line-height: 25px;
    }
  }
}